.chapters {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    height: 30px;
    background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.pages{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.prev{
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 20%;
    left: 20%;
}
.comic-page {
    z-index: 1;
    object-fit: contain;
    height: 100%;
    width: 40%;
}
.next{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    height: 100%;
    width: 20%;
    right: 20%;
}
.prev img{
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.868);
    padding: .2rem;
    border-radius: 6px;
}
.next img{
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.868);
    padding: .2rem;
    border-radius: 6px;
}

.chapters .div-chapter3 {
    background: #dbd9d9;
    height: 12vh;
    width: 100%;
    display: flex;
}

.div-chapter3 .chapter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.chapter3 .parrafo-chapter3 {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: black;
}

.parrafo-chapter3 .comment {
    width: 3rem;
}

.parrafo-chapter3 .quantity-comments{
    font-size: 2rem;
}

@media (max-width: 1440px){
    .header{
        margin-top: 10%;
    }

}
@media (max-width: 1024px){
    .header{
        margin-top: 13%;
    }
}
@media (max-width: 768px){
    .header{
        margin-top: 24%;
    }
}
    /*
    .pages{
        width: 100vw;
    }
    .prev{
        position: relative;
        width: 40%;
        left: 0%;
        border: .1rem solid red;
    }
    .comic-page {
        object-fit: contain;
        height: 100%;
        width: 90%;
        border: .1rem solid yellow;
    }
    .next{
        position: relative;
        width: 50%;
        right: 0%;
        border: .1rem solid green;
    }
} */
