header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.875rem;
    position: absolute;
    width: 87.361vw;
    margin-left: 91px;
    top: 0;
}

#logo{
    width: 5.5rem;
    height: 5.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
   header{
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 0;
   }
    
}