.mangas{
    min-height: 100vh;
}

.mangas .mangas-displayed{
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 45px 12.5vw;
    width: 93.61vw;
    margin: 0 auto;
    margin-top: -69px;
    background: #FFFFFF;
    box-shadow: 0px -2px 38px -30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.mangas .mangas-displayed>h2{
    display: none;
}

@media (max-width: 768px){
    .mangas .mangas-displayed{
        margin-top: -147px;
        padding: 45px 15.625vw;
        width: 100vw;
    }

    .mangas .mangas-displayed>h2{
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 95.19%;
        color: #222222;
    }
}

@media (max-width: 429px){
    .mangas .mangas-displayed .mangas-cards .card{
        width: 300px;
    }
}

@media (max-width: 350px) {
    .mangas .mangas-displayed{
        padding: 45px 10px;
    }
}